<!--The start of page content-->
<div fxLayout="column" class="about-container">

  <!-- Home Page Title -->
  <div fxFlex>
    <br>
    <br>
    <h1 class="title" align='center'>Welcome to Nodebucket!</h1>
    <hr>
  </div>


<div fxFlex fxLayout="column">
<div>
    <br>
     <div  class="about-image">
        <!-- This is an image of Mark Twain -->
        <img width="100%" src="../assets/nodebucket.png"/>
<!--
      <div>
        <em>
          <a class="attribution-link" href="https://www.pinclipart.com/pindetail/ibJhRT_computer-repairs-and-laptop-repairs-pc-and-laptop/" target="_blank">Photo Source</a>
        </em>
      </div>
-->
    </div>
    <!-- 250 words about nodebucket project -->
    <div class="about-text">
      <p>
        Hi! And welcome to our new application, Nodebucket, where you will be able to keep all
        your tasks in one single place. The purpose and goal of this application is to help you
        track your daily goals in a simple and easy way. You will be able to add as many tasks
        as you need to keep track of any goals you have for your day, month, or year… Is all up to you.
      </p>
      <p>
        Nodebucket is part of a four week project create for our last course at Bellevue University, Web-450.
        This project consists of a task management software that has been designed to help simplify the way
        you create, track, edit, and delete time sensitive material. It can help you keep track of your daily
        tasks by adding, editing, and deleting your to-do and done tasks. Nodebucket has been created with the
        MEAN Stack technologies; MongoDB, Express, Angular, ad Node.js. We also used SoapUI to create APIs
        testing and make sure certain IDs worked as intended. When using this application, you can move your
        items from the to do list to the done list by simple grabbing and dragging the item to the designated
        area. You can also arrange these depending on importance, or relevance. Once no longer needed, you can
        remove from your list by simply clicking on the three dots at the right of each item and selecting “remove.”
        This powerful yet simple task management software gives you the best tools when it comes to creating,
        organizing, assigning, tracking, and deleting tasks.
      </p>

      <br><br>
      </div>
    </div>

  </div>

